@use '../../scss/' as *;
.home {
    padding: 10px;
}
.btn_scrollUp {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0px 1rem 1rem 0px;
    padding: auto;
    background-color: $white;
    i {
        font-size: 2rem;
    }
    width: 3rem;
    height: 3rem;
    box-shadow: $box-shadow;
}
//
