$main-color: rgb(159, 34, 78);
$txt-color: #000;
$txt-second-color: #757575;

$gray: #f7f7f7;
$white: #fff;
$black: #000;
$blue: #087cce;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$header-height: 375px;
$header-shrink-height: 5rem;

$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: 'Roboto', sans-serif;
